    var displayThumbnail = function(tab) {
        if (tab) {
            var iconHtml = null;
            if (tab.isImage) {
                iconHtml = '<img src="'+tab.url+'"/>';
            }
            else {
                iconHtml = '<div class="kit-file-document-icon"><div>'+tab.fileExtension+'</div></div>';
            }
            $("#kit-file-container-" + fieldId + " ul.kit-file-image-list").html(
                '<li>'+iconHtml+' '+
                     tab.fileName+
                     ' <a class="kit-file-delete-upload">'+
                     '<img src="{{ asset ("bundles/kitpagesfile/icon/delete.png") }}" width="20" height="20" alt="[X]"/>'+
                     '</a></li>'
            );
        }
        else {
            $("#kit-file-container-" + fieldId + " ul.kit-file-image-list").html('');
        }
    }

    $('#kit-file-upload-' + fieldId).uploadify({
        'uploader'  : '{{ asset ("bundles/kitpagesfile/uploadify/uploadify.swf") }}',
        'script'    : '{{ path('file_upload_do_upload', {'entityFileName' :entityFileName}) }}',
        'checkScript' : '{{ path('file_upload_check') }}',
        'cancelImg' : '{{ asset ("bundles/kitpagesfile/uploadify/cancel.png") }}',
        'folder'    : '/glouglou',
        'buttonText': 'Upload a image',
        'scriptData' : {'kitpages_file_session_id': '{{ kitpages_file_session_id }}'},
        //'multi' : true,
        'auto'      : true,
        'onComplete' : function(event, ID, fileObj, response, data) {
            var tab = $.parseJSON(response);
            $("#" + fieldId).attr('value', tab.id);
            displayThumbnail(tab);
        }
    });

    var fileId = $("#" + fieldId).attr('value');
    if (fileId) {
        $.ajax({
            type: "POST",
            url: "{{ path('kitpages_file_info', {'entityFileName' :entityFileName}) }}",
            dataType: 'json',
            data: "id="+fileId,
            success: function(data) {
                displayThumbnail(data);
            }
        });
    }


    $("#kit-file-container-" + fieldId).delegate(
        "a.kit-file-delete-upload",
        "click",
        function() {
            var res = confirm("Are you sure you want delete this image ?");
            if (res == false) {
                return;
            }
            $("#" + fieldId).attr('value', '');
            displayThumbnail();
        }
    );
